<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/login">Login</a>
    <a class="btn btn-dark" href="/patients">Lista de pacientes</a>
    <a class="btn btn-dark" href="/patients/new">Añadir paciente</a>
    <a class="btn btn-dark" href="/patients/find">Buscar paciente por apellido</a>
    <a class="btn btn-dark" href="/physios">Lista de fisios</a>
    <a class="btn btn-dark" href="/physios/find">Buscar por especialidad</a>
    <a class="btn btn-dark" href="/records">Lista de records</a>
    <a class="btn btn-dark" href="/records/new">Registro de records</a>

</div>