{% extends "base.njk" %}

{% block titulo %}Physio | Ficha{% endblock %}

{% block contenido %}

    <h1>Ficha de fisio</h1>
    <div>
        <p>
            <strong>Name:</strong>
            {{ patient.name }}</p>
        <p>
            <strong>Surname:</strong>
            {{  patient.surname }}</p>
        <p>
            <strong>Specialty:</strong>
            {{  patient.specialty }}</p>
        <p>
            <strong>Lisense Number:</strong>
            {{  patient.lisenseNumber }}</p>

    </div>

{% endblock %}