{% extends "../base.njk" %}

{% block titulo %}result | Ficha{% endblock %}

{% block contenido %}

    <h1>Ficha de expediente</h1>
    <div>
        <p>
            <strong>Nombre:</strong>
            {{ result.patient.name }}</p>
        <p>
            <strong>Apellido:</strong>
            {{ result.patient.surname }}</p>

        <h2>Resultado medico</h2>
        {% if result.medicalRecord %}
            <p>{{ result.medicalRecord }}</p>
        {% else %}
            <p>No hay resultados medicos.</p>
        {% endif %}
    </div>

    <h2>Citas</h2>
    <a class="btn btn-primary" href="/records/{{ result.patient._id }}/appointments/new" class="button">Añadir cita</a>

    {% if result.appointments and result.appointments.length > 0 %}
        <table width="100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Fisio</th>
                    <th>Diagnóstico</th>
                    <th>Tratamiento</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in result.appointments %}
                    <tr>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.physio.name }}</td>
                        <td>{{ appointment.diagnosis }}</td>
                        <td>{{ appointment.treatment }}</td>
                        <td>{{ appointment.observations }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% else %}
        <p>No hay consultas.</p>
    {% endif %}

{% endblock %}