{% extends "../base.njk" %}

{% block titulo %}Patient | Ficha{% endblock %}

{% block contenido %}

    <h1>Ficha de paciente</h1>
    <div>
        <strong>Imagen:</strong>
        <td><img src="{{ result.image }}" alt="Physio Image" width="100px"/></td>
        <p>
            <strong>Nombre:</strong>
            {{ result.name }}</p>
        <p>
            <strong>Surname:</strong>
            {{  result.surname }}</p>
        <p>
            <strong>Cumpleaños:</strong>
            {{  result.birthDate }}</p>
        <p>
            <strong>Direccion:</strong>
            {{  result.address }}</p>
        <p>
            <strong>Numero de seguro:</strong>
            {{  result.insuranceNumber }}</p>

    </div>
    <a class="btn btn-warning" href="/patients/{{ result._id }}/edit">Editar</a>

{% endblock %}