{% extends "../base.njk" %}

{% block titulo %}Patient | Editar{% endblock %}

{% block contenido %}

    <div class="container mt-5">
        <h1>Editar Paciente</h1>
        <form action="/patients/{{result._id}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put" />

            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                {% if errors.name %}
                    <p class="text-danger">{{ errors.name }}</p>
                {% endif %}
                <input type="text" id="name" name="name" class="form-control" required="required" value="{{result.name}}"">
            </div>

            <div class="mb-3">
                <label for="surname" class="form-label">Apellido</label>
                {% if errors.surname %}
                    <p class="text-danger">{{ errors.surname }}</p>
                {% endif %}
                <input type="text" id="surname" name="surname" class="form-control" required="required" value="{{result.surname}}">
            </div>

            <div class="mb-3">
                <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
                {% if errors.birthDate %}
                    <p class="text-danger">{{ errors.birthDate }}</p>
                {% endif %}
                <input type="date" id="birthDate" name="birthDate" class="form-control" required="required" value="{{result.birthDate}}">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Dirección</label>
                {% if errors.address %}
                    <p class="text-danger">{{ errors.address }}</p>
                {% endif %}
                <input type="text" id="address" name="address" class="form-control" value="{{result.address}}">
            </div>

            <div class="mb-3">
                <label for="insuranceNumber" class="form-label">Número de Seguro</label>
                {% if errors.insuranceNumber %}
                    <p class="text-danger">{{ errors.insuranceNumber }}</p>
                {% endif %}
                <input type="text" id="insuranceNumber" name="insuranceNumber" class="form-control" required="required" value="{{result.insuranceNumber}}">
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Imagen</label>
                <input type="file" id="image" name="image" class="form-control" accept="image/*">
            </div>

            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>

{% endblock %}