{% extends "../base.njk" %}

{% block titulo %}Physio | Ficha{% endblock %}

{% block contenido %}

    <h1>Ficha de fisio</h1>
    <div>
            <strong>Imagen:</strong>
            <td><img src="{{ result.image }}" alt="Physio Image" width="100px"/></td>
            <p>
                <strong>Nombre:</strong>
                {{ result.name }}</p>
            <p>
                <strong>Apellido:</strong>
                {{  result.surname }}</p>
            <p>
                <strong>Especialidad:</strong>
                {{  result.specialty }}</p>
            <p>
                <strong>Numero de licencia:</strong>
                {{  result.licenseNumber }}</p>

        </div>

    {% endblock %}