{% extends "../base.njk" %}

{% block titulo %}Physio | Ficha{% endblock %}

{% block contenido %}

    <h1>Ficha de fisio</h1>
    <div>
            <strong>Image:</strong>
            <td><img src="{{ result.image }}" alt="Physio Image" width="100px"/></td>
            <p>
                <strong>Name:</strong>
                {{ result.name }}</p>
            <p>
                <strong>Surname:</strong>
                {{  result.surname }}</p>
            <p>
                <strong>Specialty:</strong>
                {{  result.specialty }}</p>
            <p>
                <strong>Lisense Number:</strong>
                {{  result.licenseNumber }}</p>

        </div>

    {% endblock %}